@charset "UTF8";

@font-face {
    font-family: 'titulo';
    src: url(fonts/Cream\ Cake.otf) format(opentype);
}
@font-face {
    font-family: 'texto';
    src: url(fonts/Simple\ Plan.otf) format(opentype);
}
/*Shorthands: 
Font: Font style -> Font-weight -> Font-size -> font-family
backgroung: cor > image > position > repeat > attachment 
background-size: cover;*/
*{
    padding: 0px;
    margin: 0px;
}

body{
    font-weight: 100;
    font-family: cursive;
    overflow-x: hidden;
    min-height: 100vh;
    width: 98.8vw;
    text-align: center;
    background: #2f6666 url(imgs/academia.png) center center no-repeat fixed;
    background-size: cover;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

header{
    padding: 15px;
    margin: 10px;
    width: 80vw;
    margin-top: 0px;
    text-align: center;
    background-color: #07080D;
    color: white;
    border-radius: 10px;
}

header h1{
    font: 100 3.5em 'titulo';
} 

main{
    background-color: #07080de0;
    color: white;
    width: 700px;
    min-height: 350px;
    padding: 10px;
    margin: 29px;
    border-radius: 15px;
    box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, 0.432);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formulario{
    margin-top: 50px;
    display: flex; /*para deixar em linha*/
    align-items: center; /*alinhado do centro*/
}
#form-group{
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.escolha{
    font: 500 1.3em 'Lucida Sans Regular', 'Lucida Grande', Verdana, serif;
    background-color: #3C4D55;
    color: white;
    padding: 12px 80px;
}
#nome, #dia{
    padding: 10px;
    margin: 25px 15px;
    width: 250px;
    background-color: #3C4D55;
    color: white;
    font-size: 1.2em;
    border-left: 4px dotted #07080D;
    cursor: pointer;
    text-align: center;
}
#visu{
    margin-top: 20px;
    padding: 15px;
    background-color: #3C4D55;
    color: white;
    font: italic 100 2em 'texto', arial, serif;

    border: 0px;
    border-radius: 15px;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.432);
    cursor: pointer;
}
#resultado{
    padding: 10px;
    line-height: 1.4em; /*espaçamento entre as linhas*/
    text-align: center;
}

button{
    margin: 10px;
    padding: 10px;
}

footer{
    background-color: #07080D;
    color: white;
    text-align: center;
    padding: 10px;
    min-width: 100%;
}


capition{
    padding-top: 10px;
    font: 1.8em 'texto';
}
table{
    border: 6px solid rgba(230, 12, 12, 0.548);  
    border-radius: 5px;
    background-color: #3c4d5563;
    margin-top: 10px;
    display: inline-block;
    align-items: center;
    border-collapse: collapse; /*borda colada ou junta*/ 
}
thead{
    background-color: #3C4D55;
    padding: 10px;
    width: 100px;
    font-size: 1.2em;
}
th{
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid black;
}
td{
    padding: 8px;
    font-size: 1em;
    border: 2px solid black;
}


@media all and (max-width: 768px){
    
    h1{
        font: 200 2.8em 'titulo';
    }

    main{
        width: 430px;
        min-height: 350px;
        padding: 10px;
        margin: 29px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #formulario{
        margin-top: 50px;
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
    }
    #form-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px 10px;
    }
    .escolha{
        font: 500 1em 'Lucida Sans Regular', 'Lucida Grande', Verdana;
        padding: 12px 80px;
    }
    #nome{
        padding: 10px;
        margin: 25px;
        font-size: 1em;
    }
    #dia{
        padding: 10px;
        margin: 25px;
        font-size: 1em;
    }
    #visu{
        margin-top: 10px;
        padding: 10px;
    }
    #resultado{
        font: 100 'texto';
        padding: 10px;
        line-height: 1em; /*espaçamento entre as linhas*/
        text-align: center;
    }
    
    
    capition{
        font-size: 1.4em;
    }
    table{
        border: 3px solid rgba(230, 12, 12, 0.486);
        display: inline-block;
        align-items: center;
        border-collapse: collapse; /*borda colada ou junta*/ 
        margin-top: 10px;
    }
    th{
        padding: 8px;
        font-size: 0.9em;
        font: 100 'texto';
    }
    td{
        padding: 8px;
        font-size: 0.8em;
    }
}