@charset "UTF8";

body{
    background-color: rgb(112, 112, 214);
    font: normal 16pt arial;
}

header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

section{
    background-color: rgba(250, 235, 215, 0.767);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(10, 10, 71);
    padding: 10px;
    width: 500px;
    margin: auto; /*deixa centralizado*/
}

#imagem{
    background-color: rgba(250, 235, 215, 0.767);
}

footer{
    background-color: rgb(87, 87, 228);
    text-align: center;
    font: italic;
}